---
---

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <section class="cover">
    <span>An</span>
    <h1>Illustrated Collection of Poems</h1>
    <span>By</span>
    <h2>Mark E. Luebbers</h2>
    <p>Cincinnati, Ohio<br>May, 2017</p>
  </section>

  <hr>

  <section>
    {% for poem in site.poems %}
    <a href="/#{{ poem.slug }}">
      <h3>
        {{ poem.title }}
      </h3>
    </a>
    {% endfor %}
    <a href="/#about">
      <h3>
        About The Author
      </h3>
    </a>
  </section>

  <hr>

  {% for poem in site.poems %}
  <section id="{{ poem.slug }}" class="poem">
    <div class="poem-content sticky-container">
      <h3 class="poem-title sticky-element">
        {{ poem.title }}
      </h3>
      {{ poem.content }}
    </div>
  </section>

  <hr>
  {% endfor %}

  <section id="about" class="cover">
    <h3>About the Author</h3>
    <p>
      Mark Luebbers teaches English at an independent school outside of Cincinnati, Ohio. He has written poetry sporadically all his life but has become serious about the discipline and more ambitious about publication in&nbsp;recent&nbsp;years.
    </p>
    <p>
      &ldquo;Like the subjects of these poems, I&rsquo;ve lived most of my life on the border between the natural and &lsquo;manufactured&rsquo; worlds, as I suppose many people do today, and find it a confusing, frustrating and fascinating way to live.&rdquo;
    </p>
  </section>

  <script src="main.js" type="text/javascript"></script>
</body>